@model IEnumerable<Order>

@{
    ViewData["Title"] = "ShowAll";
}

<h1>ShowAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="form-group">
    <label class="control-label">Lọc</label>
    <select asp-action="Filter" name="myFilter" class="form-control" asp-items="ViewBag.FilmScheduleID"></select>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Phone Number
            </th>
            <th>
                AmountTicket
            </th>
            <th>
                Film name
            </th>
            <th>
                Cinema Name
            </th>
            <th>
                Premiere Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
               @item.PhoneNumber
            </td>
            <td>
                @item.AmountTicket
            </td>
            <td>
                @item.FilmSchedule.Film.Name
            </td>
            <td>
                @item.FilmSchedule.Cinema.Name
            </td>
            <td>
                @item.FilmSchedule.PremiereTime
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        function getCurrentURL () {
            return window.location.href
        }
         $("select[name='myFilter']").change(function(){
            var schedule_id = $(this).val();
            var currentURL = getCurrentURL();
            let nextURL = "";
            if (currentURL.indexOf("scheduleId") > 0) {
                var position = currentURL.indexOf("=");
                nextURL = currentURL.substring(0, position + 1) + "" + schedule_id; 
            } else {
                nextURL = currentURL + "?scheduleId=" + schedule_id;
            }
            window.location.href = nextURL;
        });
    </script>
}
