@model IEnumerable<Order>

@{
    ViewData["Title"] = "ShowAll";
}

<h1>ShowAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="form-group">
    <label class="control-label">Lọc</label>
    <select asp-action="Filter" name="myFilter" class="form-control" asp-items="ViewBag.FilmScheduleID"></select>
</div>
<table id="mytable" class="table">
    <thead>
        <tr>
            <th>
                Phone Number
            </th>
            <th>
                AmountTicket
            </th>
            <th>
                Film name
            </th>
            <th>
                Cinema Name
            </th>
            <th>
                Premiere Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
               @item.PhoneNumber
            </td>
            <td>
                @item.AmountTicket
            </td>
            <td>
                @item.FilmSchedule.Film.Name
            </td>
            <td>
                @item.FilmSchedule.Cinema.Name
            </td>
            <td>
                @item.FilmSchedule.PremiereTime
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(function () {
            $("select[name='myFilter']").change(function(){
                var schedule_id = $(this).val();
                $("select[name='myFilter'] option[value='-1']").each(function () {
                    $(this).remove();
                });
                $.ajax({
                    url: '/Order/GetAllOrder',
                    method: 'GET',
                    data: {
                        scheduleId: schedule_id,
                    },
                    success: function (res) {
                        $('#mytable tbody').empty();
                        let tbody = $("#mytable tbody");
                        res.forEach(item => {
                            let tr = $("<tr/>");
                            let td1 = $("<td/>");
                            console.log(item)
                            td1.html(item.phoneNumber);
                            tr.append(td1);
                            let td2 = $("<td/>");
                            td2.html(item.amountTicket);
                            tr.append(td2)
                            let td3 = $("<td/>");
                            td3.html(item.filmSchedule.film.name);
                            tr.append(td3)
                            let td4 = $("<td/>");
                            td4.html(item.filmSchedule.cinema.name);
                            tr.append(td4)
                            let td5 = $("<td/>");
                            td5.html(item.filmSchedule.premiereTime);
                            tr.append(td5)
                            tbody.append(tr);
                        });
                    }
                });
            });
        })
    </script>
}
